<!DOCTYPE html>
<html lang="en">

<%- include("layout/head.ejs") %>
<link rel="stylesheet" href="/css/ContractManagment.css">
<body>
  <!-- Include nav.ejs -->
  <%- include('layout/nav.ejs') %>

  <main class="contract-management">
    <h1>Contract Management</h1>
    <div id="contract-list" class="contract-list">
      <!-- Contracts will be injected here by contractmanag.js -->
    </div>
  </main>

  <script src="js/contractmanag.js" defer></script>
</body>
</html>
