* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  font-size: 14px;
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #1E1E1E;
  color: white;
}

.container {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  background-color: #26313C;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Company Logo */
.company-logo {
  text-align: center;
  margin-bottom: 20px;
}
.company-logo img {
  max-width: 100%;
  height: auto;
}

/* User Profile */
.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.user-profile .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile h3 {
  font-size: 18px;
  color: white;
}

/* Menu */
.menu button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #3E4A55;
  color: #ffffff;
  border: none;
  text-align: left;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu button:hover {
  background-color: #556677;
}

/* Logout Button */
.logout-btn {
  background-color: #E74C3C;
  padding: 15px;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #C0392B;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
}

/* Status Cards */
.status-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status-card {
  background-color: #3C3C3C;
  padding: 20px;
  width: 30%;
  text-align: center;
  border-radius: 8px;
}

.status-card h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.status-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-icon {
  width: 50px;
  margin-bottom: 10px;
}

.status-content p {
  font-size: 24px;
}

/* Maintenance Table */
.scheduled-maintenance h3 {
  margin-bottom: 10px;
}

.maintenance-table, .clients-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2C2C2C;
  margin-bottom: 20px;
}

.maintenance-table th, .maintenance-table td,
.clients-table th, .clients-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #444;
}

.maintenance-table th, .clients-table th {
  background-color: #1ABC9C;
}

.maintenance-table td input, .clients-table td input {
  width: 100%;
  padding: 5px;
  background-color: #444;
  color: white;
  border: none;
  text-align: center;
}

/* Recent Clients */
.recent-clients h3 {
  margin-bottom: 10px;
}

.v11_1765 {
  width: 100%;
  height: 1024px;
  background: rgba(56,53,53,0.699999988079071);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_1766 {
  width: 282px;
  height: 100%;
  background: rgba(41,128,185,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_1767 {
  width: 60px;
  height: 60px;
  background: url("../images/v11_1767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 24px;
  overflow: hidden;
}
.v11_1768 {
  width: 162px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 95px;
  left: 60px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v3_11265 {
  width: 282px;
  height: 82px;
  background: url("../images/v3_11265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v11_1772 {
  width: 341px;
  height: 192px;
  background: rgba(56,53,53,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 296px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_2047 {
  width: 341px;
  height: 192px;
  background: rgba(56,53,53,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 666px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_2073 {
  width: 341px;
  height: 197px;
  background: rgba(56,53,53,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1046px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_1844 {
  width: 100%;
  height: 442px;
  background: rgba(56,53,53,1);
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 296px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v11_1773 {
  width: 263px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 335px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1785 {
  width: 156px;
  height: 156px;
  background: url("../images/v11_1785.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 311px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11_1792 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 89px;
  left: 478px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v11_1880 {
  width: 555px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 239px;
  left: 579px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v13_3370 {
  width: 100%;
  height: 311px;
  background: rgba(56,53,53,1);
  opacity: 1;
  position: absolute;
  top: 700px;
  left: 299px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v13_3375 {
  width: 250px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 709px;
  left: 654px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v11_1955 {
  width: 134px;
  height: 69px;
  background: url("../images/v11_1955.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 306px;
  overflow: hidden;
}
.v11_1956 {
  width: 134px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1985 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1957 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1965 {
  width: 134px;
  height: 29px;
  background: url("../images/v11_1965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 459px;
  overflow: hidden;
}
.v11_1966 {
  width: 134px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1967 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1987 {
  width: 134px;
  height: 29px;
  background: url("../images/v11_1987.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 329px;
  left: 459px;
  overflow: hidden;
}
.v11_1988 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1973 {
  width: 134px;
  height: 69px;
  background: url("../images/v11_1973.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 861px;
  overflow: hidden;
}
.v11_1974 {
  width: 134px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1993 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1975 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1977 {
  width: 134px;
  height: 68px;
  background: url("../images/v11_1977.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1014px;
  overflow: hidden;
}
.v11_1978 {
  width: 134px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1995 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1979 {
  width: 134px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1981 {
  width: 222px;
  height: 68px;
  background: url("../images/v11_1981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1160px;
  overflow: hidden;
}
.v11_1982 {
  width: 222px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1997 {
  width: 222px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1983 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1969 {
  width: 230px;
  height: 68px;
  background: url("../images/v11_1969.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 612px;
  overflow: hidden;
}
.v11_1970 {
  width: 230px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1991 {
  width: 230px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_1971 {
  width: 230px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_1999 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 306px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2000 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 459px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2001 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 861px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2002 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1014px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2003 {
  width: 222px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2004 {
  width: 230px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 612px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2006 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 306px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2007 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 459px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2008 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 861px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2009 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 1014px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2010 {
  width: 222px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 1160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2011 {
  width: 230px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 612px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2013 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 306px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2014 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 459px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2015 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 861px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2016 {
  width: 134px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 1014px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2017 {
  width: 222px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 1160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2018 {
  width: 230px;
  height: 29px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 456px;
  left: 612px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2020 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 306px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2021 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 459px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2022 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 861px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2023 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 1014px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2024 {
  width: 222px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 1160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2025 {
  width: 230px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 612px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2027 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 304px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2028 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 457px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2029 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 859px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2030 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 1012px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2031 {
  width: 222px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 1158px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2032 {
  width: 230px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 610px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2034 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 306px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2035 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 459px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2036 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 861px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2037 {
  width: 134px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 1014px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2038 {
  width: 222px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 1160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2039 {
  width: 230px;
  height: 28px;
  background: rgba(255,255,255,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 499px;
  left: 612px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v13_3393 {
  width: 264px;
  height: 29px;
  background: url("../images/v13_3393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 758px;
  left: 303px;
  overflow: hidden;
}
.v13_3394 {
  width: 264px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3395 {
  width: 264px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3397 {
  width: 219px;
  height: 29px;
  background: url("../images/v13_3397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 758px;
  left: 605px;
  overflow: hidden;
}
.v13_3398 {
  width: 219px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3399 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3401 {
  width: 203px;
  height: 29px;
  background: url("../images/v13_3401.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 758px;
  left: 862px;
  overflow: hidden;
}
.v13_3402 {
  width: 203px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3403 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3409 {
  width: 203px;
  height: 29px;
  background: url("../images/v13_3409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 758px;
  left: 1103px;
  overflow: hidden;
}
.v13_3410 {
  width: 203px;
  height: 29px;
  background: rgba(43,112,158,0.800000011920929);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3411 {
  width: 203px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3413 {
  width: 264px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 809px;
  left: 303px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3415 {
  width: 264px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 303px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3420 {
  width: 251px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 811px;
  left: 308px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3421 {
  width: 251px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 864px;
  left: 305px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3423 {
  width: 219px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 809px;
  left: 605px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3425 {
  width: 219px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 605px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3427 {
  width: 203px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 809px;
  left: 862px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3429 {
  width: 203px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 862px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3431 {
  width: 203px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 809px;
  left: 1103px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v13_3433 {
  width: 203px;
  height: 29px;
  background: rgba(255,255,255,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 863px;
  left: 1103px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v11_2044 {
  width: 11px;
  height: 177px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 1391px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v11_2045 {
  width: 11px;
  height: 381px;
  background: rgba(217,217,217,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 1391px;
}
.v11_2082 {
  width: 11px;
  height: 177px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1391px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v11_2083 {
  width: 11px;
  height: 290px;
  background: rgba(217,217,217,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1391px;
}
.v13_3435 {
  width: 251px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 864px;
  left: 594px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3437 {
  width: 251px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 809px;
  left: 591px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3439 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 809px;
  left: 862px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3441 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 863px;
  left: 862px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3443 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 863px;
  left: 1108px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v13_3445 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 809px;
  left: 1108px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v11_2071 {
  width: 100px;
  height: 100px;
  background: url("../images/v11_2071.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 677px;
  overflow: hidden;
}
.v11_2072 {
  width: 212px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 71px;
  left: 783px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v11_2075 {
  width: 100px;
  height: 100px;
  background: url("../images/v11_2075.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 1046px;
  overflow: hidden;
}
.v11_2076 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 1115px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v11_2077 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70px;
  left: 1141px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v11_2078 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 100px;
  left: 1141px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v11_2080 {
  width: 230px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 132px;
  left: 1141px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
