* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: 'Calibri', sans-serif;
  background-color: #2f2f2f;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  background-color: #26313C;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company-logo {
  text-align: center;
  margin-bottom: 20px;
}
.company-logo img {
  max-width: 100%;
  height: auto;
}

.user-section {
  text-align: center;
  margin-bottom: 20px;
}

.user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

.username {
  color: white;
  margin-top: 10px;
}

.menu {
  list-style-type: none;
  width: 100%;
}

.menu li {
  width: 100%;
  text-align: center;
}

/* Menu */
.menu button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #3E4A55;
  color: #ffffff;
  border: none;
  text-align: left;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu button:hover {
  background-color: #556677;
}

/* Logout Button */
.logout-btn {
  background-color: #E74C3C;
  padding: 15px;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #C0392B;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #333;
  overflow-y: auto;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table thead th {
  color: white;
  background-color: #296592;
  padding: 10px;
  text-align: left;
}

.schedule-table tbody td {
  padding: 10px;
}

.table-input {
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
}

/* Condition box styles */
.condition-box {
  width: 30px;
  height: 20px;
  border-radius: 3px;
}

.green {
  background-color: #2ecc71;
}

.yellow {
  background-color: #f39c12;
}

.red {
  background-color: #e74c3c;
}

.orange {
  background-color: #d35400;
}

.schedule-table tbody tr {
  background-color: #444;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #3a3a3a;
}

.schedule-table tbody tr:hover {
  background-color: #555;
}
/* Company Logo Section */
.logo-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.company-logo {
  width: 80px; /* Adjusted size */
  height: auto;
}