body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.logo {
    max-width: 70px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 700px;
}

.auth-card {
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
    cursor: pointer;
    text-align: center;
}

.auth-card h2 {
    margin-top: 0;
}

.auth-card input {
    width: 100%;
    max-width: 260px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.auth-card button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.auth-card button:hover {
    background-color: #0056b3;
}

.toggle-card {
    color: #007BFF;
    cursor: pointer;
}

.auth-card.active {
    z-index: 2;
    transform: translateX(0) scale(1);
    opacity: 1;
}

.auth-card:not(.active) {
    z-index: 1;
    opacity: 0.5;
    transform: translateX(-100px) scale(0.9);
}

@media (max-width: 768px) {
    .auth-container {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    
    .auth-card {
        position: relative;
        width: 100%;
        max-width: 350px;
        transform: none;
    }
    
    .auth-card:not(.active) {
        opacity: 0.5;
        transform: none;
    }
}
