* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

.text-content p {
    font-size: 24px;
    line-height: 1.5;
}

.navbar {
    width: 100%;
    height: 66px;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    width: 50px;
    height: 50px;
    background: url("/views/images/Logo.png") center center / cover no-repeat;
    margin-right: 20px;
}

.BigLogo {
    width: 250px;
    height: 250px;
    background: url("/views/images/Logo.png") center center / contain no-repeat;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    margin-left: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007BFF;
}

.header-image {
    position: relative;
    background: url("/views/images/SelfService.png") no-repeat center;
    background-size: cover;
    height: 450px;
    width: 100%;
    margin-top: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(118, 118, 118, 0.3);
    z-index: 1;
}

.backColour {
    background: linear-gradient(to top, rgba(66, 54, 235, 0.74) 0%, rgba(4, 110, 181, 0.08) 80%, white 95%);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(22% - 20px);
    height: auto;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    align-items: center;
}

.card-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.card-content h1 {
    margin: 0;
    text-align: center;
    flex-basis: 100%;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }
}
