
<header class="navbar">
    <div class="logo"></div>
    <nav>
        <ul class="nav-links">
            <li><a href="/selfservice">Self Service</a></li>
            <li><a href="/sersched">Schedule</a></li>
            <li><a href="/servicehistory">History</a></li>
            <li><a href="/contractmanag">Contract</a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/login" class="logout">Log Out</a></li>
        </ul>
    </nav>
</header>